*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    
    text-decoration: none;
}
                              /*Loading codes*/
#preloader{
    background: #ff523b url(Images/preloader2.gif) no-repeat center center;
    background-size: 30%; 
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    animation: ease-in;
    transition:ease;
}

/*----- Here--------*/
.popup{
    width: 350px;
    background: #ddead1;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 20px 20px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}


.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #e4aa8d;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

/*------Here------*/

.cartImg{
    width: 200px;
}
body{
    font-family: 'Poppins', sans-serif;

}
.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    
}
a{
    text-align: none;
    color: #555;
    text-decoration: none;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-10 img{
    max-width: 100%;
    padding: 50px 0;
    height: 520px;
    width: 340px;
}
.coll-11 img{
    max-width: 100%;
    width: 390px;
    height: 420px;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
    background: #e5c1cd;
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px; 
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #000;
}

.title::after{
    content: '';
    background: #fe9c8f;
    width: 30px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}
.col-4 p {
    font-size: 14px;
    text-decoration: none;
}
.rating .fa{
    color: #ff523b;
}
.col-4 .rating p{
    text-decoration-line:none;
    text-decoration: none;
    
}
.col-4:hover{
    transform: translateY(-5px);
}
.header2{
    background: radial-gradient(#fff,#e6b400);
    margin-top: 80px;
    padding: 30px 0;
}
/*-------OFFER-------*/
.offer{
    background: radial-gradient(#fff,#ef8333);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-image{
    padding: 50px;
}
.small{
    color: #555;
}
/*Testimonial*/
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 .h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/*Brands*/
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
    scale: 1;
    transition: ease-in-out 0.3s;
}
.col-5 img:hover{
    filter: grayscale(0);
    transform: translateY(-5px);
}
/*Footer*/
.footer{
    background: #B26E4B;
    color: #000;
    font-size: 60px 0 20px;
}
.footer p{
    color: #000;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-height: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    margin-top: 80px;
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 1px;
    margin-bottom: 80px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
/*----All products----*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #CEA2D7;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #CEA2D7;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background-color: #CEA2D7;
    color: #fff;
}
/*single product details*/
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #CEA2D7;
}
.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-name{
    display: flex;
    flex-wrap: wrap;
}
.cart-name .btn{
    margin-left: 100px;
    height: 40px;
    width: 250px;
    text-align: center;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #CEA2D7;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #CEA2D7;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #CEA2D7;
    width: 100%;
    max-width: 390px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
/*media query for menu*/
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 100px;
        left: 0;
        background: #9e7a7a88;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .cart-name .btn{
        margin-left: 100px;
        height: 40px;
        width: 190px;
        text-align: center;
        font-size: medium;
    }
    .total-price table{
        border-top: 3px solid #CEA2D7;
        width: 50%;
        max-width: 330px;
        font-size: medium;
    }
}
/*media query for less than 600 screen size*/
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }.single-product .col-2{
        padding: 20px 0;

    }
    .single-product h1{
        font-size: 26px;
        line-height: 22px;
    }
    .cart-name p{
        display: none;

    }
    .cart-name .btn{
        margin-left: 25px;
        height: 35px;
        width: 165px;
        text-align: center;
        font-size: small;
    }
    .total-price table{
        border-top: 3px solid #CEA2D7;
        width: 50%;
        max-width: 290px;
        font-size: small;
    }
    .single-product .col-2 img{
        margin-left: 20%;
    }
    .popup img{
        width: 100px;
        margin-top: -50px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        text-align: center;
        margin-right: 18%;
    }
}